<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    </head>
<body>
    <h3>Welcome!</h3>
    <h5>Please fill out the following form:</h5>
    <form action="/submit" method="POST">
        <p>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </p>
        <br>
        <p>
            <label for="age">Age</label>
            <input type="number" id="age" name="age">
        </p>
        <br>
        <p>
            <label for="id">ID</label>
            <input type="number" id="id" name="id">
        </p>
        <br>
        <p>
            <label for="mail">Email</label>
            <input type="email" id="mail" name="mail">
        </p>
        <br>
        <p>
            <input type="submit" value="submit">
        </p>
    </form>
</body>
</html>
